# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project defaults
rag_db/
*.sqlite3

# Logs
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS Data
.DS_Store
Thumbs.db